* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-g: #D91656;
    --secondary-g: #e6f9f0;
    --third-g: #1E1E1E;
    --four-g: #FFEB55;
    --small: .8rem;
    --mid: 1.2rem;
    --big: 3.5rem;
}
 
body{
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: var(--third-g);
    color: var(--secondary-g);
    font-family: "Montserrat", sans-serif;
}

/* navbar start */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid var(--secondary-g);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--mid);
    width: 100%;
    backdrop-filter: blur(15px);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    /* font-size: 1.6rem; */
    font-size: var(--mid);
    font-weight: 400;
    color: var(--secondary-g);
}

.nav-link:hover {
    color: var(--four-g);
    font-size: 1.5rem;
    border-bottom: 1.2px solid var(--four-g);
    font-weight: 600;
    text-shadow: 0 20px 25px var(--four-g);
    transition: all 0.35s ease-in;
}

.nav-logo img{
    border-radius: 50%;
}

/* hero section start */
.hero{
    display: flex;
    height: 100vh;
}

.highlight{
    color: var(--primary-g);
}
.hero__left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-g);
}

.hero__left--img{
    height: 50%;
    width: 50%;
    /* background-image: url(/img/logo.jpg); */
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__left--img img{
    max-width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.hero__right{
    width: 40%;
    margin: 5rem 3rem;
    color: var(--third-g);
    transition: .5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__right--title{
    font-size: var(--big);
    font-weight: 800;
    color: var(--secondary-g);
}

.wrapper{
    display: flex;
  }
  
.wrapper .static-txt{
    color: #fff;
}
  
.wrapper .dynamic-txts{
    margin-left: 1rem;
    height: 100px;
    line-height: 90px;
    overflow: hidden;  
}

.dynamic-txts li{
    font-size: var(--big);
    font-weight: 800;
    list-style: none;
    color: #D91656;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
  
@keyframes slide {
    100%{
      top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
  
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--third-g);
    border-left: 2px solid var(--secondary-g);
    animation: typing 3s steps(10) infinite;
}
  
@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}
  
.hero__right--pera{
    font-size: var(--mid);
    font-weight: 500;
    color: var(--secondary-g);
    text-align: justify;
    animation: appear liner;
    animation-timeline: view();
    animation-range: entry 0;
}

.hero__right--pera::first-letter{
    font-size: var(--big);
    color: var(--four-g);
}

/* resume section */
.resume{
    height: 100vh;
    background-image: url(/img/FoodInflation_Banner.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

.line{
    /* background-color: #F3FF90; */
    background-color: #F9E400;
    width: 150px;
    height: 2px;
    margin: 1rem 0;
    box-shadow: 0 10px 27px #7C00FE;
}

.innerline{
    /* background-color: #059212; */
    background-color: #7C00FE;
    width: 50px;
    height: 2px;
    box-shadow: 0 10px 27px #F9E400;
}


.resume__right, .resume__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.resume__list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid gray;
}

.resume__duration__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.resume__round{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-g);
    background-color: var(--third-g);
    position: absolute;
    left: -.8rem;
    /* margin-top: 1.5rem; */
}

.resume__duration{
   background-color: #000; 
   width: auto;
   border-radius: 1.5rem;
   padding: .5rem 1rem;
   font-size: var(--small);
   /* margin-left: .65rem; */
}

.resume__institution, .resume__company{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    text-shadow: 2px 5px 10px #243642;
    color: #FF6500;
}

.resume__designation{
    font-size: var(--small);
    color: gray;
    line-height: 1.5rem;
    margin: 0;
    text-shadow: 0 0 15px #3A6D8C;
}

/* certificate */

.certifications{
    height: auto;
    margin: 5rem 0;
}

.certifications__container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.certifications--title{
    font-size: var(--mid);
    font-weight: 500;
    margin-bottom: 5rem;
}

.certifications__sub__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certificate__img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: gray;
}

.certificate__img img{
    border-radius: 20px 0 0 20px;
    background-position: center;
    background-size: cover;
}

.certificate__card{
    height: 180px;
    width: 40%;
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    margin-bottom: 3rem;
}

.certificate__card:hover{
    box-shadow: 0 10px 27px rgb(71, 71, 71);
    transform: translateY(-.5rem);
    transition: all 0.4s ease-in;
}

.certificate__description{
    margin: 1rem .5rem;
}

.certificate__card--title{
    font-size: var(--mid);
    font-weight: 400;
    color: var(--secondary-g);
    margin-bottom: 1rem;
}


.certificate__description h4{
    font-size: 1rem;
    color: gray;
    margin-bottom: .5rem;
}


.subtitle__container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--mid);
    margin: 4rem auto;
    border-radius: 2rem;
    color: #5F6F52;
}

.subtitle__container h3:hover{
    box-shadow: 2px 50px 100px #FFAF00;
    transform: translateY(-.5rem);
    transition: all 0.35s ease-in;
}

/* skill section */

.skill__section{
    margin: 5rem 5rem;
    height: auto;
}

.skill__sub__section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill__prog{
    height: auto;
    width: 40%;
    margin: 2rem 0;
}

.skill__prog--title{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.skill__sub__prog{
    height: auto;
    padding: .3rem 0;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill, .percentage{
    font-size: var(--small);
    font-weight: 400;
    color: #6e6e6e;
}



.progress{
    width: 100%;
    height: .5rem;
    border-radius: 0.5rem;
    border: 1.2px solid var(--secondary-g);
    accent-color: var(--third-g);
}

.progress::-webkit-progress-value{
    background-color: #0079FF;
    
}

/* portfolio section */

.portfolio{
    margin: 5rem;
}

.portfolio__sub__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__card{
    height: 380px;
    width: 28%;
    margin: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid #6e6e6e;
}

.portfolio__card--img{
    height: 50%;
    max-width: 100%;
    border-radius: 1rem;
}

.portfolio__card--img img{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}


.portfolio__card:hover{
    box-shadow: 0 10px 27px rgb(71, 71, 71);
    transform: translateY(-.5rem);
    transition: all 0.35s ease-in;

}

.portfolio__card--description{
    padding: 1rem;
}

.portfolio__card--description a{
    color: gray;    
}

.portfolio__description--title{
    font-size: var(--mid);
    font-weight: 500;
    margin-bottom: .8rem;
    color: #fff;
}

.portfolio__description--pera{
    font-size: var(--small);
    font-weight: 400;
    margin-bottom: 1rem;
    color: gray;
}

/* contact section */
.contact{
    margin: 5rem;
}
.contact__sub__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact__sub__container--info{
    width: 30%;
    height: 10rem;
    color: #e6f9f0;
    font-size: 1.2rem;
}

.contact__sub__container--info a{
    color: #e6f9f0;
}

.contact__sub__container--appointment{
    width: 30%;
    height: auto;

    /* background-color: rebeccapurple; */
}

.contact__sub__container--text{
    width: 30%;
    height: 10rem;
}

.contact--subtitle{
    margin: 0;
}

.input--field{
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: var(--third-g);
    color: var(--four-g);
}

.contact--btn{
    margin: 3rem 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: var(--third-g);
    color: var(--four-g);
}

.contact--btn:hover{
    box-shadow: 2px 50px 100px #D91656;
    transform: translateY(-.5rem);
    transition: all 0.35s ease-in;
}


.block{
    animation: appear liner;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}